{% extends 'btdst/body.html' %}
{% block body %}
{% if volume %}
{% load staticfiles %}
{% block js %}
<script src="{% static 'btds/js/btds.js' %}"></script>
{% endblock %}
{% block hjs %}
<script>
function uldc(lid) {
    $.post("{% url "btds_edit" %}", { linkDownloadCount: "", id_link: lid } );
}
</script>
{% endblock %}
<div class="container">
{% if user.is_authenticated  %}
{% if volume.get_images %}
<div id="imgCarousel" class="carousel slide span4 pull-right">
<ol class="carousel-indicators">
{% for img in volume.get_images %}
  <li data-target="#imgCarousel" data-slide-to="{{ forloop.counter0 }}"{% if img.cover %} class="active"{% else %}{% if forloop.last  %} class="active"{% endif %}{% endif %}></li>
{% endfor %}
</ol>
<div class="carousel-inner">
{% for img in volume.get_images %}
  <div class="item{% if img.cover %} active{% else %}{% if forloop.last  %} active{% endif %}{% endif %}">
    <img src="/media/{{ img.image }}" alt="">
    <div class="carousel-caption">
      <h4>{{ img.filename }}</h4>
      <p>{% if img.cover %} Is Cover{% endif %}</p>
    </div>
  </div>
{% endfor %}
</div>
<a class="left carousel-control" href="#imgCarousel" data-slide="prev">&lsaquo;</a>
<a class="right carousel-control" href="#imgCarousel" data-slide="next">&rsaquo;</a>
</div>
{% else %}
<div class="span4 pull-right text-center" style="width: 370 px; height: 500 px; background-color:#CFCFCF; padding-top: 220px; padding-bottom: 220px;"><a href="#addCoverImage" class="btn btn-large btn-inverse" role="button" data-toggle="modal"><i class="icon-plus icon-white"></i> Add Image</a></div>
{% endif %}
{% else %}
{% if volume.get_cover %}
<img src="/media/{{ volume.get_cover }}" class="span4 pull-right">
{% endif %}
{% endif %}
<h1>Information{% if user.is_authenticated %}&nbsp;&nbsp;<a href="#editVolume" role="button" data-toggle="modal" class="btn btn-inverse"><i class="icon-edit icon-white"></i> <b>Edit</b></a>&nbsp;<a href="#addVolumeMeta" role="button" data-toggle="modal" class="btn btn-inverse"><i class="icon-plus icon-white"></i> <b>Add Meta</b></a>&nbsp;<a href="#addCoverImage" class="btn btn-inverse" role="button" data-toggle="modal"><i class="icon-plus icon-white"></i> Add Image</a>&nbsp;<a href="#addVolumeLink" class="btn btn-inverse" role="button" data-toggle="modal"><i class="icon-plus icon-white"></i> Add Link</a>{% endif %}</h1>
<p><strong>Series:</strong> <a href="{{ volume.novel.get_absolute_url }}">{{ volume.novel.name }}</a></p>
{% if volume.name %}
<p><strong>Title:</strong> {{ volume.name }}</p>
{% endif %}
{% if volume.number %}
<p><strong>Volume:</strong> {{ volume.number }}</p>
{% endif %}
{% if volume.novel.author.name %}
<p><strong>Author:</strong> {{ volume.novel.author.name }}</p>
{% endif %}
{% if volume.novel.illustrator.name %}
<p><strong>Illustrator:</strong> {{ volume.novel.illustrator.name }}</p>
{% endif %}
{% if volume.isbn %}
<p><strong>ISBN:</strong> {{ volume.isbn }}</p>
{% endif %}
{% if volume.get_genre %}
<p><strong>Genre:</strong>{% for g in volume.get_genre %} {{ g.name }}{% endfor %}</p>
{% endif %}
{% if volume.get_translator %}
<p><strong>Translator{{ volume.get_translator|pluralize }}:</strong>{% for t in volume.get_translator %} <a href="{{ t.link }}">{{ t.name }}</a>{% endfor %}</p>
{% endif %}
{% if volume.get_editor %}
<p><strong>Editor{{ volume.get_editor|pluralize }}:</strong>{% for e in volume.get_editor %} <a href="{{ e.link }}">{{ e.name }}</a>{% endfor %}</p>
{% endif %}
{% if volume.get_publisher %}
<p><strong>Source:</strong> {% for m in volume.meta_set.all %} <a {% if user.is_authenticated %}href="#editMeta-{{ m.id }}" role="button" data-toggle="modal" class="btn btn-inverse"{% else %}href="{% if m.url %}{{ m.url }}{% else %}{{ m.publisher.link }}{% endif %}"{% endif %}>{% if user.is_authenticated %}<i class="icon-edit icon-white"></i> {% endif %}{{ m.publisher.name }}</a>{% endfor %}</p>
{% endif %}
{% if volume.synopsis %}
<p class="span4 pull-left" style="margin-left: 0px !important;"><strong>Synopsis:</strong> {{ volume.synopsis  }}</p>
{% endif %}
{% if volume.meta_set.all %}
<div class="btn-group" data-toggle="buttons-radio">
{% for lang in volume.get_link_language %}<button type="button" class="btn" id="{{ lang.iso }}">{{ lang.name }}</button>{% endfor %}
</div>
<br />
<br />
<div id="links">
{% for lang in volume.get_link_language %}
<div id="{{ lang.iso }}">
<ul>
{% for link in volume.get_link %}
{% if link.visible %}{% if not link.closed %}{% if link.language.iso == lang.iso %}<li><a href="{{ link.link }}" onclick="uldc({{ link.id }})" class="btn"><b>{{ link.file_format }}</b> by {{ link.user }}</a></li>{% endif %}{% endif %}{% endif %}
{% endfor %}
</ul>
</div>
{% endfor %}
</div>
{% endif %}
</div>

{% if user.is_authenticated %}

{% if MED %}
{% for KEY, MEF in MED.items %}
<div id="editMeta-{{ KEY }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Edit Meta</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" action="{% url "btds_edit" %}" method="post">{% csrf_token %}
            {% for field in MEF %}
            <div class="control-group">
                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="controls">
                    {{ field.errors }}
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="modal-footer">
                <input type="hidden" name="next" value="{% url "btds_index" %}" />
                <input type="hidden" name="id_meta" value="{{ KEY }}" />
                <button type="submit" class="btn btn-block btn-success" name="editMeta" >Accept Changes</button>
            </div>
        </form>
    </div>
</div>
{% endfor %}
{% endif %}

    <div id="addCoverImage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="myModalLabel">Add Cover Image</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" enctype="multipart/form-data" action="{% url "btds_add" %}" method="post">{% csrf_token %}
                    {% for field in IMGAF %}
					<div class="control-group">
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="controls">
                        {% if field.name == "volume" %}
                            <select id="id_volume" name="volume">
                                <option selected="selected" value="{{ volume.id }}">{{ volume }}</option>
                            </select>
                        {% else %}
                            {{ field.errors }}
							{{ field }}
                        {% endif %}
                        </div>
                    </div>
					{% endfor %}
					<div class="modal-footer">
						<input type="hidden" name="next" value="{% url "btds_index" %}" />
                        <button type="submit" class="btn btn-block btn-success" name="addImage" >Add Cover Image</button>
					</div>
                </form>
            </div>
		</div>

    <div id="addVolumeMeta" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="myModalLabel">Add Meta</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="{% url "btds_add" %}" method="post">{% csrf_token %}
                    {% for field in MAF %}
					<div class="control-group">
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="controls">
                        {% if field.name == "volume" %}
                            <select id="id_volume" name="volume">
                                <option selected="selected" value="{{ volume.id }}">{{ volume }}</option>
                            </select>
                        {% else %}
                            {{ field.errors }}
							{{ field }}
                        {% endif %}
                        </div>
                    </div>
					{% endfor %}
					<div class="modal-footer">
						<input type="hidden" name="next" value="{% url "btds_index" %}" />
                        <button type="submit" class="btn btn-block btn-success" name="addMeta" >Add Cover Image</button>
					</div>
                </form>
            </div>
		</div>
        
    <div id="addVolumeLink" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="myModalLabel">Add Link</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="{% url "btds_add" %}" method="post">{% csrf_token %}
                    {% for field in vlaf %}
					<div class="control-group">
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="controls">
                            {{ field.errors }}
							{{ field }}
                        </div>
                    </div>
					{% endfor %}
					<div class="modal-footer">
						<input type="hidden" name="next" value="{% url "btds_index" %}" />
                        <button type="submit" class="btn btn-block btn-success" name="addLink" >Add Link</button>
					</div>
                </form>
            </div>
		</div>

<!-- editVolume Part -->

<div id="editVolume" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Edit Volume</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" action="{% url "btds_edit" %}" method="post">{% csrf_token %}
            {% for field in VEF %}
            <div class="control-group">
                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="controls">
                    {{ field.errors }}
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="modal-footer">
                <input type="hidden" name="next" value="{% url "btds_index" %}" />
                <input type="hidden" name="id_volume" value="{{ volume.id }}" />
                <button type="submit" class="btn btn-block btn-success" name="editVolume" >Accept Changes</button>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}